<div *ngIf="product" class="shadow-md p-3 my-5 space-y-2">
  <img src="{{ product.imageUrl }}" alt="" />
  <div>
    <h2 class="text-md font-medium">{{ product.title }}</h2>
    <p>Price : {{ product.price }}</p>
    <p>Category: {{ product.category }}</p>
  </div>
  <hr />
  <div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed cumque
    voluptatem, magnam in, recusandae, eveniet iste repudiandae corporis impedit
    voluptatum aut eum modi explicabo ut minima magni ex iusto accusantium.
  </div>
</div>
